@import './Colors.scss';

.transaction-form {
	font-size: 30px;
	width: 300px;
	margin: auto;
}

.transaction-form-field-container {
	width: 100%;
}

.transaction-form input[type=text], .transaction-form input[type=number] {
	border: 0;
	border-bottom: 1px solid #004040;
	outline: transparent;
	text-align: center;
	margin: auto;
	margin-top: 8px;
	height: 30px;
	font-size: 30px;
	background: transparent;
	margin-bottom: 32px;
	display: block;

}

.transaction-form label {
	float: left;
	font-size: 16px;
	display: none;
}

.transaction-form .submit-button {
	width: 100%;
	background: #FAFAFA;
	border: 0;
	height: 38px;
	font-size: 16px;
}

.transaction-form .submit-button.invalid {
	cursor: not-allowed;
}

.transaction-form .submit-button.valid {
	cursor: pointer;
	background: $TEAL;
	color: white;
}

.transactionForm .amountField {
	width: 80px;
}

.operationListEntry {
	border-collapse: collapse;
	width: 100%;
}
.operationListEntry tr {
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}


.operationListEntry tr:last-child {
	width: 100px;
	border-bottom: 1px solid transparent;
}

.operationListEntry tr td:first-child {
	width: 100px;
}

.incoming-payment {
	color: $TEAL;
}

.outgoing-payment {
	color: $SALMON;
}