.App-header {
  background-color: #222;
  box-sizing: padding-box;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sections {
  display: flex;
  background: #333;
  margin: 0;
  padding: 10px;
  flex-direction: row;
}

.sections .section {
  flex-grow: 1;
}

.App-header a {
  color: white;
  text-decoration: none;
}

.AccountLockedStatus.unlocked {
  background: green;
}