.transactionForm input {
	border: 0;
	border-bottom: 1px solid #004040;
	font-size: 16px;
	outline: transparent;
	text-align: center;
	margin: 6px;
	background: transparent;
}

.transactionForm .amountField {
	width: 80px;
}